{% extends  'base.html' %}

{% block title %} I'm here, and Everywhere {% endblock %}

{% block css %} {{ super() }} {% endblock %}

{% block banner %}
    <div class="container">
        <div class="case-banner">
            <div class="case-desc">
                <h1>物联网，无处不在</h1>
                <p>The most profound technologies are</p>
                <p>those that disappear</p>
            </div>
        </div>
    </div>
    <div class="container partner">
        <div class="row">
            <div class="col-sm-3"><a class="d-inline-block" href="javascript:;"><img src="/static/img/nk@3x.png" alt=""></a>
            </div>
            <div class="col-sm-3"><a class="d-inline-block" href="javascript:;"><img src="/static/img/ms@3x.png" alt=""></a>
            </div>
            <div class="col-sm-3"><a class="d-inline-block" href="javascript:;"><img src="/static/img/nk@3x.png" alt=""></a>
            </div>
            <div class="col-sm-3"><a class="d-inline-block" href="javascript:;"><img src="/static/img/ms@3x.png" alt=""></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container oh">
        <div class="row p-lg-3">
            <div class="col-sm-6">
                <h4>南京消防</h4>
                <h3>启动物联网消防指挥平台</h3>
                <p>南京消防引入 SENSORO 物联网智慧消防火灾预警系统，采用多重感知、远距离物联网通信技术，及时进行灾情预警，为市民生命财产安全保驾护航。</p>
            </div>

            <div class="col-sm-4 offset-2">
                <h3>60</h3>
                <p>每 60 秒，SENSORO 物联网系统远程监测温湿度、可燃气体浓度变化，保护元宵节南京夫子庙灯会 60 万游客生命安全。</p>
            </div>
        </div>

        <div class="row">
            <div class="case-xiaofang">
                <img src="/static/img/xiaofang@2x.jpg" width="100%" alt="">
            </div>
        </div>
    </div>
    <div class="container oh">
        <div class="row p-lg-3">
            <div class="col-sm-6">
                <h4>南京消防</h4>
                <h3>启动物联网消防指挥平台</h3>
                <p>南京消防引入 SENSORO 物联网智慧消防火灾预警系统，采用多重感知、远距离物联网通信技术，及时进行灾情预警，为市民生命财产安全保驾护航。</p>
            </div>

            <div class="col-sm-4 offset-2">
                <h3>60</h3>
                <p>每 60 秒，SENSORO 物联网系统远程监测温湿度、可燃气体浓度变化，保护元宵节南京夫子庙灯会 60 万游客生命安全。</p>
            </div>
        </div>

        <div class="row">
            <div class="case-xiaofang">
                <img src="/static/img/xiaofang@2x.jpg" width="100%" alt="">
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}

{% block js %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/app.js"></script>
{% endblock %}