{% extends  'base.html' %}

{% block title %} I'm here, and Everywhere {% endblock %}

{% block css %} {{ super() }} {% endblock %}

{% block banner %}
    <div class="container">
        <div class="case-banner">
            <div class="case-desc">
                <h1>物联网，无处不在</h1>
                <p>The most profound technologies are</p>
                <p>those that disappear</p>
            </div>
        </div>
    </div>
    <div class="container partner">
        <div class="row">
            <div class="col-sm-3"><a class="d-inline-block" href="javascript:;"><img src="/static/img/nk@3x.png"></a></div>
            <div class="col-sm-3"><a class="d-inline-block" href="javascript:;"><img src="/static/img/ms@3x.png"></a></div>
            <div class="col-sm-3"><a class="d-inline-block" href="javascript:;"><img src="/static/img/nk@3x.png"></a></div>
            <div class="col-sm-3"><a class="d-inline-block" href="javascript:;"><img src="/static/img/ms@3x.png"></a></div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% for item in list %}
<div class="container oh">
    <div class="row p-lg-3">
        <div class="col-sm-6">
            <h4>{{ item.title }}</h4>
            <p>{{ item.info }}</p>
        </div>

        <div class="col-sm-4 offset-2">
            <h5>{{ item.subtitle }}</h5>
            <p>{{ item.desc }}</p>
        </div>
    </div>

    <div class="row">
        <div class="case-picture">
            <img src="{{ item.pic }}">
        </div>
    </div>
</div>
    {% endfor %}
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}

{% block js %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/app.js"></script>
{% endblock %}