{% extends  'base.html' %}

{% block title %} I'm here, and Everywhere {% endblock %}

{% block css %} {{ super() }} {% endblock %}

{% block banner %}
<div class="container">
    <div class="banner">
        <h1>赋予万物智慧，从这里开始</h1>
        <p>物联网产品一览</p>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container oh">
    <div class="row">
    {% for item in list %}
        <div class="col-sm mt-3">
            <div class="prod-item">
                <img class="img-fluid" src="/static/img/{{ item.pic }}" alt="">
                <div class="desc-wrap">
                    <h4 class="prod-title">{{ item.title }}</h4>
                    <p class="prod-desc">{{ item.info }}</p>
                </div>
            </div>
        </div>
    {% if loop.index%3==0 %}
    </div>

    <div class="row">
    {% endif %}
    {% endfor %}
    </div>

    {# form 宏 #}
    {% macro input(title, name, value='', type='text') %}
        <label class="{{ name }}">
            <span class="title">{{ title }}</span>
            <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}">
        </label>
    {% endmacro %}
    <div class="form-container">
        <div class="form-wrap">
            {{ input('姓名','username') }}
            {{ input('手机号码','phone') }}
            <label class="console">
                <span class="title">选择咨询类目</span>
                <select name="target" class="">
                    <option value="0" selected="selected" disabled="disabled">选择</option
                    <option value="1">低功耗广域网</option>
                    <option value="2">传感器厂商合作</option>
                    <option value="3">业务方案商合作</option>
                    <option value="6">其他</option>
                </select>
            </label>

            <label class="scale">
                <span class="title">咨询内容</span>
                <textarea name="advisory" placeholder="请输入内容"></textarea>
            </label>
            <button type="button" class="submit">发送</button>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}

{% block js %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/app.js"></script>
{% endblock %}