<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>I'm here, and Everywhere</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/app.css">
</head>
<body>

<div class="container-fluid nav-wrap">
    <div class="container">
        <a href="javascript:;" class="home">SENSOR</a>
        <a href="javascript:;">产品</a>
        <a href="javascript:;">解决方案</a>
        <a href="javascript:;">商业案例</a>
        <div class="pos-right">
            <a href="javascript:;">注册</a>
            <span>|</span>
            <a href="javascript:;">登录</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="banner">
        <h1>赋予万物智慧，从这里开始</h1>
        <p>物联网产品一览</p>
    </div>
</div>

<div class="container oh">
    <div class="row">
        {% for item in list %}
            <div class="col-sm mt-3">
                <div class="prod-item">
                    <img class="img-fluid" src="../static/img/{{ item.pic }}" alt="">
                    <div class="desc-wrap">
                        <h4 class="prod-title">{{ item.title }}</h4>
                        <p class="prod-desc">{{ item.info }}</p>
                    </div>
                </div>
            </div>
            {% if loop.index%3==0 %}
                </div>

                <div class="row">
            {% endif %}
        {% endfor %}
        </div>

    <div class="form-container">
        <div class="form-wrap">
            {# 定义宏 #}
            {% macro input(title, name, value='', type='text') %}
                <label class="{{ name }}">
                    <span class="title">{{ title }}</span>
                    <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}">
                </label>
            {% endmacro %}

            {{ input('姓名','username') }}
            {{ input('手机号码','phone') }}
            {{ input('电子邮件','email') }}
            {{ input('公司名称','company ') }}
            {{ input('通讯地址','location ') }}

            <label class="console">
                <span class="title">选择咨询类目</span>
                <select name="target" class="">
                    <option value="0" selected="selected" disabled="disabled">选择</option
                    <option value="1">低功耗广域网</option>
                    <option value="2">传感器厂商合作</option>
                    <option value="3">业务方案商合作</option>
                    <option value="4">新闻媒体合作</option>
                    <option value="5">加入我们</option>
                    <option value="6">其他</option>
                </select>
            </label>

            <label class="scale">
                <span class="title">咨询内容</span>
                <textarea name="advisory" placeholder="请输入内容"></textarea>
            </label>
            <button type="button" class="submit">发送</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="footer">
        <div class="container">
            <div class="pull-left">
                <div>SENSOR</div>
                <div>Copyright © 2018 SENSOR Co.,Ltd.京ICP备11223366号 京公网安备11010811223366号</div>
            </div>
            <div class="pull-right">
                <span>隐私条款</span>
                <span>用户协议</span>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/jquery.js"></script>
<script src="../static/js/popper.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/app.js"></script>
</body>
</html>